*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    background-color:white;
    line-height: 1.4;
}
header h1{
  text-align: center;
  margin-top: 100px;
  margin-bottom:10px;
  color: green;
  font-weight: bold;
  font-size: 40px;
}
.para{
  text-align: center;

}

.navbar{
  background-color:green;
  color: white;
  align-items: center;
  justify-content: center;
  width: 450px;
  height: 50px;
  display: flex;
  position: fixed;
  transition: all 0.3s ease;
  margin-right: 850px;
  margin-top: 15px;
  top: 0;
  z-index: 1000;
  border: 2px solid white;
  border-radius: 20px;
}
nav ul{
  list-style:none;
  display: flex;
  padding:10px;
  margin: 0;
  gap: 20px;
}
nav a{
  color: white;
  margin: 0 15px;
  font-weight: bold;
  transition: 0.3s ease;
  text-decoration: none;
  
}
nav a:hover {
  color:rgb(100, 1, 100);
}
.pricing{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  margin-top: 100px;
}
.pricing-card{
  margin-top: -50px;
  color: black;
  background-color: rgb(255, 255, 255);
  border: 2px solid  green;
  border-radius: 10px;
  padding: 20px;
  width: 250px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  height: 300px;

}
.color{
  font-size: 20px;
  color:green;
}
.button{
  background-color: green;
  color: white;
  padding: 10px 15px;
  margin-top: 30px;
  border-radius: 10px;
  cursor: pointer;
}
.button:hover{
  background-color: darkgreen;
  color: white;
}
.contact{
  color: black;
  border: 2px solid black;
  border-radius: 10px;
  padding: 3px 3px;
  background-color: white;
  cursor: pointer;
}
.contact:hover{
  background-color: black;
  color: white;

}
.price{
  font-size: 24px;
  margin: 10px 0;

}